/* checkout cart main */
.cartContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* checkout cart items */
.cartItemContainer {
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 0 1px 3px 1px gray;
    width: 50%;
}
.cartItemContainer > h2 {
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    padding: 5px 0 5px 7px;
    font-size: 19px;
}


/* cart item card */
.cartItemCardContainer {
    border-top: 1px solid lightgray;
    margin-bottom: 1rem;
}
.cartItemCardContainer > span {
    display: flex;
    justify-content: space-between;
}
.cartItemCardContainer > span > span {
    margin-left: .5rem;
    margin-top: .5rem;
}
.cartItemCardContainer > span > span > h4 {
    font-size: 18px;
    color: gray;
    font-weight: bold;
}
.cartItemCardContainer > span > span > h5 {
    font-size: 16px;
    color: gray;
}
.addRemove {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: .5rem;
}
.addRemove > button {
    background-color: inherit;
    border: 1px solid gray;
    width: 2.75rem;
    height: 1.75rem;
}
.addRemove > button:hover {
    cursor: pointer;
}
.addRemove > h3 {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 2rem;
    height: 1.75rem;
    text-align: center;
    font-weight: bold;
}
.cartItemCardContainer > div {
    margin-left: .5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.cartItemCardContainer > div > span > button {
    margin-right: 1rem;
    opacity: .7;
}
.cartItemCardContainer > div > span > button:hover {
    cursor: pointer;
}
.cartItemCardContainer > div > h3 {
    margin-right: 1rem;
}


/* checkout cart total */
.cartTotalContainer {
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 0 1px 3px 1px gray;
    width: 27rem;
}
.cartTotalContainer > h2 {
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    padding: 5px 0 5px 7px;
    font-size: 19px;
    margin-bottom: 1rem;
}
.cartTotalContainer > h3 {
    margin-left: .5rem;
    margin-right: .5rem;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}
.cartTotalContainer > h3:last-child {
    padding-bottom: .5rem;
}
.cartTotalContainer > h3:hover {
    font-size: 21px;
}
.split {
    border-bottom: 1px solid gray;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
}
.promoContainer {
    margin-top: 1rem;
}
